<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "app-bundle" %>
    <%= javascript_pack_tag "app-bundle" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
